section{
	background: #e1f2ee;
	padding: 8px;
	margin: 80px 0;
	width: 100%;
	box-sizing: border-box;

}

article{
	border-radius: 16px;
	background: #2f578a;
	border: 2px solid white;
	padding: 48px;
	color: white;
	text-align: center;
	margin: 8px;
	display: inline-block; 
	width: calc(33.3% - 8em);
	

}
